body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.full-footer{
	background-color: #243c4f;
    }
    #topheader{
        border-bottom: 1px solid #ebebeb;
        width: 100%;
    }
    #topheader a{
        color: #2c3e50;
        font-weight: 600;
        font-size: 0.89rem;
        text-decoration: none;
    }

    nav ul li a{
        font-size: 1.1rem;
        font-weight: 600;
    }
    .full-footer{
        background-color: #243c4f;

    }
    /* footer */
    .top-footer p{
        color: white;
    }
    .top-footer a{
        color: white;
    }
    .top-footer h2{
        color: white;
    }
    .top-footer h3{
        color: white;
    }
    .bottom-footer{
        background-color: #031b2e;
        width: 100%;
    }
    .bottom-footer p{
        color: white;
    }

     .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0px !important;

    }

/* footer */
.top-footer p{
	color: white;
}
.top-footer a{
	color: white;
}
.top-footer h2{
	color: white;
}
.top-footer h3{
	color: white;
}
.bottom-footer{
	background-color: #031b2e;
	width: 100%;
}
.bottom-footer p{
	color: white;
}
/* end footer */

/*Start: seventh Section for newsletter*/
.clients-section{
	background-color: rgb(152, 152, 155);
}
.client a{

	color: black;
}

.bimg{
    background: url(https://images.pexels.com/photos/1595385/pexels-photo-1595385.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;
    background-size: cover;
    background-position: center;


}

small{
    color: orangered;
}
.vh-container{
    position: relative;
    top: 4rem;
    height: 700px;

}

.row-al.error{
    color: orangered;
    
}

.form-width{
    width: 60%;
    position: relative;
    top: 6em;
    background-color: rgba(255,255,255,0.6);
    border-radius: 1rem;
    height: 650px;
}

.row-al{
    position: relative;
    top: 1.5rem;
}

/* @media only screen and (max-width: 568px){
    .bimg{
        height: 700px !important;
    }
    .vh-container{
        height: 600px;
        position: relative;
        top: 1rem;
    }
    .form-width{
    width: 95%;
    position: relative;
    top: 0rem;
    height: 500px;

}
.btn-size{
    width: 80px;
}
} */

@media (max-width:768px){
    
.form-width{
    width: 100%;
    position: relative;
    top: 2em;
    background-color: rgba(255,255,255,0.6);
    border-radius: 1rem;
    height: 650px;
}
}