body{
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
#topheader{
	border-bottom: 1px solid #ebebeb;
	width: 100%;
}
#topheader a{
	color: #2c3e50;
	font-weight: 600;
	font-size: 0.89rem;
	text-decoration: none;
}

nav ul li a{
	font-size: 1.1rem;
	font-weight: 600;
}
.full-footer{
	background-color: #243c4f;
	
}
/* footer */
.top-footer p{
	color: white;
}
.top-footer a{
	color: white;
}
.top-footer h2{
	color: white;
}
.top-footer h3{
	color: white;
}
.bottom-footer{
	background-color: #031b2e;
	width: 100%;
}
.bottom-footer p{
	color: white;
}
/* Start :Home Page first hero section */
.top-hero-section{
	background-color: #3498db;
	color: white;
}
.top-hero-section a{
	color: white;
	font-weight: 600;
}

/* End :Home Page first hero section */
.qualities-img{
	width: 200px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px !important;
   
}
/*End  :Home Page first hero section */

/*Start: Third Section for requirments*/

.requirments-section{
	background-color: #004d80;
	color: white;
}

/*End: Third Section for requirments*/

/*Start: Fifth Section for newsletter*/
.home-newsletter{
	background-color:#004d80 ;
	color: white;
}
.home-newsletter .form-control{
	height: 50px;
	border-color: transparent;
	border-radius: 20px 0px 0px 20px;

}
.home-newsletter .btn{
	min-height: 50px;
	border-radius: 0px 20px 20px 0px;
	background-color: #243c4f;
	color: #fff;
}
.home-newsletter .btn:hover{
	color: crimson;
}

/*End: Fifth Section for newsletter*/

/*Start: seventh Section for newsletter*/
.clients-section{
	background-color: rgb(152, 152, 155);
}

.client a{

	color: black;
}
/*End: seventh Section for newsletter*/

